<strong>Olá, {{ name }} </strong>
<h1> <strong>Sua matrícula foi efetuada com sucesso!</strong></h1>
<h3><strong>Confira os dados da sua matrícula abaixo:</strong></h3>
<p>
  <strong>Data de início informada: </strong> {{ startDate }}<br />
  <strong>Plano selecionado: </strong>{{ planName }}<br />
  <strong>Data de término calculada: </strong>{{ endDate }}<br />
  <strong>Preço calculado: </strong>{{ price }}<br />
</p>
